mixin commentComponent(videoinfo)
  if user
    div.video__add-comments 
      form.video_comment-form#commentForm
        textarea(cors="30", rows="10", placeholder="Write a comment")
        button Add Comment
  div.video__comments 
    ul
      each comment in videoinfo.comments.reverse() 
        li.video__comment
          span=comment.text
          if user && (comment.owner == user._id)
            button(data-commentId=comment.id) X
          else
            button(data-commentId=comment.id, disabled) X
  script(src="/static/js/commentSection.js")