mixin showvideolist(list)
  div 
    ul 
      each videoinfo in list 
        li 
          a(href=`/videos/${videoinfo._id}`) #{videoinfo.title}
          p #{videoinfo.description}
          small views #{videoinfo.meta.views}
      else 
        li No Contents.