extends templates/layout

block content
  //-form(method="POST")
    input(name="oldPassword", type="password", placeholder="Old Password", required)
    input(name="newPassword", type="password", placeholder="New Password", required)
    input(name="newPasswordConfirm", type="password", placeholder="New Password Confirm", required)
    input(type="submit", value="Change Password")

  div(class="container")
    main
      div(class="col-md-7 col-lg-8")

        h4(class="mb-3") Change Your Password

        form(method="POST" class="needs-validation")

          div(class="col-12")
            label(for="oldPassword" class="form-label") Current Password
            input(type="password" class="form-control" id="oldPassword" placeholder="Current Password" name="oldPassword" required)

          hr

          div(class="col-12")
            label(for="newPassword" class="form-label") New Password
            input(type="password" class="form-control" id="newPassword" placeholder="New Password" name="newPassword" required)

          div(class="col-12")
            label(for="newPasswordConfirm" class="form-label") New Password Confirm
            input(type="password" class="form-control" id="newPasswordConfirm" placeholder="Password Confirm" name="newPasswordConfirm" required)        

          hr(class="my-4")

          button(class="w-100 btn btn-danger btn-lg" type="submit") CHANGE