extend templates/layout

block content
    form(method="GET", action="search")
        input(name="title" type="text", placeholder="search title")
        input(type="submit", value="Search")
    ul 
        each videoinfo in videos 
            li 
                a(href=`/movies/${videoinfo._id}`) #{videoinfo.title}
        else 
            li No Contents.