extend templates/layout
include mixin/showvideolist 

block content
  div(class="container")
    form(method="GET" class="row justify-content-center g-3")
      div(class="col-auto")
        label(for="title" class="visually-hidden") Search
        input(type="text" class="form-control" id="title" placeholder="Search" name="title")

      div(class="col-auto")
        button(type="submit" class="btn btn-primary mb-3") Search

    +showvideolist(videos)