h2 #{pageTitle}
nav
  ul 
    li 
      a(href="/") Home
    li 
      a(href="/videos/upload") Upload 
    li 
      a(href="/videos/search") Search
    if loggedIn 
      li 
        a(href=`/user/${user._id}`) My Profile
      li 
        a(href="/edit") Edit Profile
      li 
        a(href="/logout") Log out
    else 
      li 
        a(href="/login") Login
      li 
        a(href="/join") Join